# H1: Data Science Tools and Ecosystem

## H2: In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- Data Science tools and ecosystems
- Data Science Languages
- Data Science Libraries

# Some of the popular languages that Data Scientists use are
1. R
2. Python
3. SQL
4. VBA

# Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Pandas
3. Matplotlib
4. Seaborn


| Data Science Tools |
| ------------------- |
| Jupyter Notebook  |
| RStudio |
| Spyder |
| Apache Zeppelin |

### H3: Below are a few examples of evaluating arithmetic expressions in Python

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## H2 Author
Saloni Sharma